<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
</head>
<body>
<div id="app">

	<div class="container">
	    <div class="row">
	        <div class="col-md-6">
	            <div class="todolist not-done">
	             <h1>Todos</h1>
	                <input type="text" class="form-control add-todo" placeholder="Add todo"  v-model="task">
	                    <button id="checkAll" class="btn btn-success" v-on:click = "addTask">Submit</button>
	                    
	                    <hr>
	                    <ul id="sortable" class="list-unstyled" v-for="(item, index) in task_undone">
	                    <li class="ui-state-default">
	                        <div class="checkbox">
	                            <label>
	                                <input type="checkbox" v-on:click="doneTask(index, item)" />{{item.task}}</label>
	                        </div>
	                    </li>
	                </ul>
	                <div class="todo-footer">
	                    <strong><span class="count-todos"></span></strong> {{task_undone.length}} Items Left
	                </div>
	            </div>
	        </div>
	        <div class="col-md-6">
	            <div class="todolist">
	             <h1>Already Done</h1>
	                <ul id="done-items" class="list-unstyled" v-for="(item, index) in task_done">
	                    <li>{{item.task}}<button class="remove-item btn btn-default btn-xs pull-right" v-on:click="remove(item)"><span class="glyphicon glyphicon-remove"></span></button></li>
	                    
	                </ul>
	            </div>
	        </div>
			</div>
		</div>
</div>

<script src="./assets/js/todos.js"></script>
</body>
</html>